<div class="container text-center">
  <div class="row">
    <div class="col-12">
      <h1>Bem-Vindo!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>Cadastre-se:</h4>
    </div>
  </div>
</div>
